apiVersion: v1
kind: Service
metadata:
  name: emotion-2401100-service
  labels:
    app: emotion-2401100
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: text-emotion
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: emotion-2401100-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: emotion-2401100-service
            port:
              number: 80
